<!-- <div class="landing-container">
  <mat-toolbar color="primary" class="landing-toolbar">
      <mat-toolbar-row>
          <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
          </button>
          <span class="spacer"></span>
          <button *ngIf="isAdmin$ | async" mat-icon-button (click)="addHandler()">
              <mat-icon>add</mat-icon>
          </button>
      </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="landing-sidenav-container">
      <mat-sidenav
        #sidenav
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56"
      ><app-side-menu></app-side-menu>
      </mat-sidenav>
      <mat-sidenav-content>
          <router-outlet></router-outlet>
      </mat-sidenav-content>
  </mat-sidenav-container>
</div> -->
<mat-toolbar color="primary" class="sticky top-0">
    <mat-toolbar-row>
        <a mat-icon-button [routerLink]="['/menu']" >
            <mat-icon>menu</mat-icon>
        </a>
        <span class="spacer"></span>
        <ng-container *ngFor="let action of (actionButtons | async)">
          <button mat-icon-button (click)="actionButtonHandler(action)">
              <mat-icon>{{action?.icon}}</mat-icon>
          </button>

        </ng-container>

        <!-- <button *ngIf="isAdmin$ | async" mat-icon-button (click)="addHandler()">
            <mat-icon>add</mat-icon>
        </button> -->
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
